#about
  <div class="container">
    h1.wow.fadeIn.my-4.display-2.text-center 
      | Welcome to Haleys 
      br
      | Nails & Lashes
    <div class="row">
      <div class="col-5 col-md-6 d-flex justify-content-center align-items-center">
        <img class="m-4 img-thumbnail dshadow wow fadeIn" src="img/hayley.jpg" alt="">
      </div>
      <div class="col-7 col-md-6 pt-3 pr-4 d-flex justify-content-start align-items-center">
        .group
          <h2 class="display-4">Hayley Keene</h2>
          <h3 class="display-5">Owner and Proprietor</h3>
      </div>
    .row  
      .col-12
        p.p-4.text-justify I have been a nail technician/beautician for 14 years. I was lucky enough to undertake my training at the prestigious Creative Nail Designs in Kent and to further my knowledge and ensure my clients get the best care and to keep my knowledge up to date, I also have recently attended the award winning Katie Barnes Academy on several occasions.
      
    </div>
  </div>