#contact
  .wrap
    h1.text-white.ml-5.pt-3.display-3 Get in Contact
    .container
      .row.pb-5
        .col-sm-8
          iframe#googleMap.fadeIn(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4901.25757291843!2d-2.0694054564380457!3d52.104687149564114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870ddfe79677d57%3A0xb92122f17f0912ff!2sHayley%E2%80%99s%20Nails%20and%20lashes!5e0!3m2!1sen!2sus!4v1678970668892!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" data-wow-offset="100")
        .col-sm-4.d-flex.justify-content-center.align-items-center.pt-4.mt-3.mt-md-0.pt-md-0
          p.text-center.text-white
            | 3 Wick House Close
            br 
            | Wick
            br 
            | Pershore 
            br
            | WR10 3NT
            br
            <i class="fas fa-phone mr-2" aria-hidden="true"></i> 07944 900517
      h1.text-white.pt-3.display-3 Message Me
      <form method="" action="" class="text-white pb-4">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control wow flipInX dshadow" type="text" name="">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control wow flipInX dshadow" type="email" name="email">
        </div>
        <div class="form-group">
          <label for="msg">Message</label>
          <textarea id="msg" class="form-control wow flipInX dshadow" name="msg" rows="5"></textarea>
        </div>
        <button class="btn btn-send btn-lg mr-3" type="submit">Send</button>
        <button class="btn btn-reset btn-lg" type="reset">Reset</button>
      </form>