<footer class="bg-dark text-white">
	<div class="container pt-3">
		<div class="row">
			<div class="col-4 col-md-4">
				#sharebtn
					a.d-shadow(href="#" data-toggle="modal" data-target="#share")
						button.btn.d-shadow.my-3 Share 
							span.fa.fa-share-alt
			</div>
			<div class="col-8 col-md-4 d-flex align-items-end justify-content-around mb-2">
				a(href="https://www.facebook.com/hayley.victoria.nails.and.beauty")
					<i class="fab fa-facebook m-3" aria-hidden="true"></i>
				a(href="#")
					<i class="fab fa-twitter m-3" aria-hidden="true"></i>
				a(href="https://www.instagram.com/h_v_nails_beauty/?hl=en")
					<i class="fab fa-instagram m-3" aria-hidden="true"></i>
				a(href="#")
					<i class="fab fa-linkedin m-3" aria-hidden="true"></i>
			</div>
			<div class="col-md-4 d-flex align-items-end justify-content-end mb-2">
				<i class="fa fa-copyright pb-1 mr-2" aria-hidden="true"></i>
				#copy
			</div>
		</div>
	</div>
</footer>
include ../includes/share
.home-nav
	a(href="#top")
		span.fas.fa-arrow-up
#cookies
	.container
		.row
			.col-lg-10
				p This site uses cookies to personalize your experience, analyze site usage, and offer tailored promotions. #[a(href="http://www.youronlinechoices.com/uk/") Your Online Choices]
			.col-lg-2
				button#cookie.btn.btn-success.d-shadow I ACCEPT
// JQuery js
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
// Bootstrap js
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
//	Wowjs
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
// Main js
script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCHZFzeZFtLPEVQ7wOP2bb6PbtdNxb8g&callback=myMap")
