#testimonials.pb-5
  h1.display-3.ml-5.pt-3 Testimonials
  .container 
    .row.d-flex.justify-content-center.align-items-center
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Thank you so much for my beautiful set of nails, they are perfect. I highly recommend Hayley, she is always professional and accommodating. Her nails are always on point! Having my nails done is such a treat and I have never been disappointed xxx</p>
            </div>
            <div class="card-footer">
              <p class="text-right text-muted">- Charlotte P</p> 
            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Amazing nails! Best place; wouldn’t go anywhere else!</p>
          </div>
          <div class="card-footer">
            <p class="text-right text-muted">- Georgina T</p> 
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Thank you for my beautiful nails! I have been getting them done a long time and now so pleased to have found a good technician after relocating x</p>
          </div>
          <div class="card-footer">
            <p class="text-right text-muted">- Charlotte B</p> 
          </div>
        </div>
      </div>