.carousel
	header
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 4
		background-color: rgba(0, 0, 9, 0.7)
		backdrop-filter: blur(4px)
		h1
			color: #fff
			font-size: 4rem
			position: relative
			@media (min-width: 768px)
				font-size: 6rem
			&::after, &::before
				content: ''
				height: 0.012em
				width: 80%
				background-color: #fff
				position: absolute
				left: 10%
			&::before
				top: -15%
			&::after
				bottom: -15%

	.carousel-inner
		.carousel-item
			height: 200px
			@media (min-width:768px)
				height: 400px
				top: -150px
			img 
				height: 150%
				@media (min-width: 768px)
					height: auto