<!DOCTYPE html>
html(lang="en")
	head
		include includes/head
		title H o m e
	body#top
		include includes/nav
		include includes/carousel
		hr
		include includes/about
		hr
		include includes/services		
		<hr>
		include includes/testimonials
		hr
		include includes/contact
		hr
		include includes/footer